/* shared document properties */
:root {
    /* Colors */
    --bg-color: #eeeef4;
    --theme-color: #2f2a7a;
    --theme-color-hover: #4c4797;
    --inactive-color: #bbb;

    /* Radius */
    --theme-radius: 4px;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
    font-size: 12pt;
}

html, body {
    margin:0;
    padding:0;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #dadada;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
    border-radius: var(--theme-radius);
    box-sizing: border-box;
    padding: 12px;
}

#title-input, #body-input {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
    resize: vertical;
    width: 100%;
    margin-bottom: 8px;
    font-family: inherit;
    font-size: inherit;
    padding: 12px;
}

.new-post input[type=submit] {
    float: right;
}

input[type=submit] {
    background-color: var(--theme-color);
    border-radius: var(--theme-radius);
    border-style: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-size: 12pt;
    padding: 5px 40px;
}

.new-post input[type=submit]:hover {
    background-color: var(--theme-color-hover);
}

#topnav {
    background-color: var(--theme-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    list-style: none;
    overflow: hidden;
    padding: 8px;
}

.nav-item a {
    color: var(--inactive-color);
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    text-transform: lowercase;
}

.nav-item a:hover {
    color: white;
    /*background-color: var(--theme-color-hover);*/
}

.nav-item {
    color: white;
    font-family: Comfortaa, sans-serif;
    font-size: 18px;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

textarea {
    height: 100%;
}

.blog-body {
    text-align: left;
}

.blog-post {
    background-color: white;
    border-radius: var(--theme-radius);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 10px 100px;
    padding: 5px 25px;
    text-align: left;
}

.blog-title {
    color: var(--theme-color);
    font-family: Comfortaa, sans-serif;
    font-size: 100%;
    margin-top: 10px;
}

.clickable-post {
    text-decoration: none;
}

.continued, a:visited.continued {
    color: var(--theme-color);
    font-weight: 700;
}

a:hover.continued {
    color: var(--theme-color-hover);
}

.date-and-time {
    color: #888;
    font-size: 100%;
    font-weight: lighter;
    margin: 0;
}

.error {
    background-color: #fcc;
    border: 1px solid red;
    color: red;
    font-style: italic;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.new-post {
    height: 100%;
    margin: 10px 20%;
}

.page-title {
    color: var(--theme-color);
    font-family: Comfortaa, sans-serif;
    text-transform: lowercase;
}

#header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#container {
    min-height:100%;
    position:relative;
}

#footer {
    bottom:0;
    color: #606060;
    height:50px;
    position:absolute;
    text-align: center;
    width:100%;
}

#main {
    height: 100%;
    padding: 10px;
    padding-bottom: 50px;
    text-align: center;
}

#home-link {
    color: white;
    outline: 1px solid white;
}

#home-link:hover  {
    background: var(--theme-color-hover);
}

.icon {
    font-size: 32px;
    padding: 2px 8px;
}

.icon i {
    color: var(--inactive-color);
}

.icon:hover i {
    color: white;
}

.popup-container {
    background: rgba(0,0,0,.8);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.popup-content {
    background: var(--bg-color);
    border-radius: var(--theme-radius);
    margin: auto;
    padding: 10px 20px;
    width: 400px;
}

#popup-login form {
    font-family: Comfortaa;
    margin: auto;
}

#popup-login h1 {
}

.login-section {
    padding: 10px;
}

.login-section * {
    width: 100%;
}

.login-section label {
    display: block;
    font-weight: bold;
}

.popup-content input[type=text],
.popup-content input[type=password] {
    margin: 2px 0;
    font-size: 14px;
}

.popup-content input[type=submit] {
    font-size: 18px;
}

.popup-content p {
    font-family: sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #555;
}