<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script defer src="/static/script.js"></script>
    <title>build-a-blog | {{ title }}</title>
</head>
<body>
<div id="container">
    <div id="header">
        <ul id="topnav">
           <li class="nav-item left"><a id="home-link" href="/">Build-A-Blog</a></li>
           <li class="nav-item left"><a href="/users">Users</a></li>

            <!-- Do not show 'my posts' and 'create new entry' if not logged in -->
            {% if logged_in %}
                <li class="nav-item left"><a href="/users">My Posts</a></li>
                <li class="nav-item left"><a href="/create-new-entry">Create
                    Post</a></li>
            {% endif %}

            <!-- If user is not logged in, show login button, otherwise, show user button -->
            {% if not logged_in %}
                <li class="nav-item right icon"><i id="button-login"
                                                   class="fas fa-user-circle"></i>
                </li>
            {% else %}
                <!-- TODO: add user button -->
                <!-- TODO: add dropdown menu for user preferences and logout -->
            {% endif %}
        </ul>
   </div>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
   <div id="footer">
        <p>© 2018 Dave Springer</p>
   </div>

    {% with form_type="login" %}
    {% include "login-register.html" %}
    {% endwith %}

    {% with form_type="register" %}
    {% include "login-register.html" %}
    {% endwith %}

</div>

</body>
</html>