{% extends "base.html" %}

{% block content %}
    <h1 class="page-title">Build-A-Blog</h1>

    <!-- Display Blog Posts Here -->
    {% if blog_posts|length == 0 %}
        <p>No postings yet...</p>
    {% else %}


        {% for blog_post in blog_posts|reverse%}
            {% set user = blog_post.owner %}
            {% set post_link = '/view-post?post_id=' + blog_post.id|string %}
            {% set user_link = '/user/' + user.user_name %}

            <div class="blog-post">
                <table>
                    <tr>
                        <td class="post-img">
                            <a href="{{ user_link }}"><img class="avatar avatar-post" src="/static/profile-pictures/{{ user.img_file }}"></a>
                        </td>
                        <td class="post-body">

                            <a class="clickable-post" href="{{ post_link }}">
                                <h2 class="blog-title">{{ blog_post.title }}</h2>
                            </a>
                            <h3 class="date-and-time">
                                <a class="user-link" href="{{ user_link }}">{{ user.user_name }}</a> on {{ blog_post.date.strftime(date_format) }}
                            </h3>
                            {% autoescape false %}
                                {% if  blog_post.body|length > 1000 %}
                                    <p class="blog-body">{{ blog_post.body[:999]|replace('\n', '<br>') }} ...
                                    <a class="continued" href="{{ post_link }}">[Continued]</a>
                                    </p>
                                {% else %}
                                    <p class="blog-body">{{ blog_post.body|replace('\n', '<br>') }}</p>
                                {% endif %}
                            {% endautoescape %}
                        </td>

                    </tr>
                </table>

                <!--
                <div class="user-post-img">
                    <img class="avatar" src="/static/profile-pictures/{{ blog_post.owner.img_file }}">
                </div>
                <div class="post-body">
                    {% set post_link = '/view-post?post_id=' + blog_post.id|string %}
                <a class="clickable-post" href="{{ post_link }}">
                    <h2 class="blog-title">{{ blog_post.title }}</h2>
                </a>
                <h3 class="date-and-time">
                    {{ blog_post.owner.user_name }} on {{ blog_post.date.strftime(date_format) }}
                </h3>
                {% autoescape false %}
                    {% if  blog_post.body|length > 1000 %}
                        <p class="blog-body">{{ blog_post.body[:999]|replace('\n', '<br>') }} ...
                        <a class="continued" href="{{ post_link }}">[Continued]</a>
                        </p>
                    {% else %}
                        <p class="blog-body">{{ blog_post.body|replace('\n', '<br>') }}</p>
                    {% endif %}
                {% endautoescape %}
                </div>
                -->

            </div>
        {% endfor %}
    {% endif %}

{% endblock %}